### Database configuration - Rodar localmente
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=teste
DATABASE_PASSWORD=1234
DATABASE_NAME=auth
DATABASE_SYNCHRONIZE=true
DATABASE_ROOT_PASSWORD=1234


### Database configuration - Rodar docker
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=teste
DATABASE_PASSWORD=1234
DATABASE_NAME=auth
DATABASE_SYNCHRONIZE=true
DATABASE_ROOT_PASSWORD=1234



# Habilitar rate limiter
ENABLE_RATE_LIMITER=true
RATE_LIMITER_POINTS=5
RATE_LIMITER_DURATION=60000