services:
  mysql:
    image: mysql:latest
    container_name: mysql-api
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_USER:  ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_RANDOM_ROOT_PASSWORD: 'no'
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - infra-local

  auth-api:
    build: .
    ports:
      - '3000:3000'
    env_file: .env
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_SYNCHRONIZE: ${DATABASE_SYNCHRONIZE}
      ENABLE_RATE_LIMITER: ${ENABLE_RATE_LIMITER}
      RATE_LIMITER_POINTS: ${RATE_LIMITER_POINTS}
      RATE_LIMITER_DURATION: ${RATE_LIMITER_DURATION}
    restart: unless-stopped
    networks:
      - infra-local
    depends_on:
      - mysql
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M



volumes:
  mysql_data:

networks:
  infra-local:
    driver: bridge